<!-- TODO: move the js script to a helper file, it already exists (form-helper.ts), just a matter 
of connecting the files together. -->

<!DOCTYPE html>
<html>
  <head>
    <title>My App Engine App</title>
  </head>
  <body>
    <h2>Create a new post</h2>
    <form method="POST" id="submission-form" action="http://purified-home.wl.r.appspot.com/">
      <div>
        <input type="text" name="firstName" placeholder="First Name">
      </div>
      <div>
        <input type="text" name="lastName" placeholder="Last Name">
      </div>
      <div>
        <input type="text" name="emailAddress" placeholder="Email Address">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>       
      <script>
          async function postFormDataAsJson({ url, formData }) {
          const plainFormData = Object.fromEntries(formData.entries());
          const formDataJsonString = JSON.stringify(plainFormData);

          const fetchOptions = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Accept: "application/json",
            },
            body: formDataJsonString,
          };

          const response = await fetch(url, fetchOptions);

          if (!response.ok) {
            const errorMessage = await response.text();
            throw new Error(errorMessage);
          }

          return response.json();
        }

        async function handleFormSubmit(event) {
          event.preventDefault();

          const form = event.currentTarget;
          const url = form.action;

          try {
            const formData = new FormData(form);
            const responseData = await postFormDataAsJson({ url, formData });

            console.log({ responseData });
          } catch (error) {
            console.error(error);
          }
        }

        const submissionForm = document.getElementById("submission-form");
        submissionForm.addEventListener("submit", handleFormSubmit);
      </script>
  </body>
</html>